* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ------------------- BODY ------------------- */
body {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(60deg, rgb(59, 59, 235), rgb(92, 85, 240));
}
/* ------------------- HEADING ------------------- */
h1 {
  color: #343434;
  text-shadow: 2px 2px 5px white;
  font-size: 4rem;
  text-decoration: underline;
}
/* ------------------- MAIN PANEL ------------------- */
.panel {
  height: 80vh;
  width: 70vw;

  padding: 10px;
  border-radius: 7px;
  border: 1px solid #404040;
  box-shadow: 15px 15px 15px #343434;

  background-color: #343434;
  color: white;

  display: grid;
  grid-template: 1fr / 1.5fr 5fr;
}
/* ------------------- SIDEBAR & TASKBAR ------------------- */
.sidebar,
.taskbar {
  padding: 10px;
  max-height: 78vh;
  overflow: auto;
}
.sidebar {
  border-right: 1px solid white;
}

h2 {
  border-bottom: 3px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ------------------- PROJECTS ------------------- */
.project {
  background-color: #505050;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.project .name {
  background-color: #404040;
  width: 180px;
  padding: 5px 7px;
  border-radius: 5px;
}
.project .name:hover {
  background-color: #343434;
}
.project.active {
  background-color: rgb(77, 77, 255);
}
.project.active .name {
  background-color: rgb(109, 109, 254);
}
.project.this-week {
  margin-bottom: 50px;
}
.project.active .trash {
  background-color: rgb(57, 57, 176);
}
.project.active .trash:hover {
  background-color: rgb(45, 45, 239);
}
/* ------------------- TASKS SECTION ------------------- */
.task {
  background-color: #505050;
  height: 70px;
  margin: 30px 0px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.task-top,
.task input[type='checkbox'] {
  cursor: pointer;
}
.task-top {
  width: 400px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: #404040;
  position: relative;
}
.task .title,
.task .notes,
.task input[type='checkbox'],
.task .checkmark {
  position: absolute;
}
.task-top .title {
  top: 5px;
  left: 40px;
  font-size: 20px;
}
.task-top .notes {
  top: 30px;
  left: 40px;
  opacity: 0.5;
  font-size: 12px;
}
.task input[type='checkbox'] {
  height: 0;
  width: 0;
  opacity: 0;
}
.task .checkmark {
  top: 13px;
  left: 8px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
}
.task input:checked + .checkmark::after {
  content: '\25CF';
  color: rgb(77, 77, 255);
  position: absolute;
  top: 3.6px;
  left: 5px;
}
.task .widgets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.task .priority {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.priority.low {
  background-color: green;
}
.priority.medium {
  background-color: yellow;
}
.priority.high {
  background-color: red;
}
.task .task-buttons,
.task .date {
  background-color: #404040;
  padding: 5px;
  border-radius: 5px;
}
.task .task-buttons {
  display: flex;
  gap: 5px;
}
.strike {
  opacity: 0.5;
}
.strike .title,
.strike .notes,
.strike .date {
  text-decoration: line-through;
}
/* --------------- BUTTONS ------------------------ */
/* ADD */
.add {
  background-color: #fff;
  color: #000;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  padding-bottom: 4px;
  cursor: pointer;
}
.add:hover {
  background-color: #aaa;
}
/* TRASH & EDIT*/
.trash,
.edit {
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #332e2e;
}
.trash:hover,
.edit:hover {
  background-color: #242424;
  cursor: pointer;
}
/* --------------- SCROLL BAR ------------------------ */
::-webkit-scrollbar-thumb {
  background-color: blue;
}
::-webkit-scrollbar {
  width: 3px;
}
/* ---------------DIALOG ---------------------------- */
dialog {
  margin: auto;
  border: none;
  background: #343434;
  position: relative;
}
/* --------------- FORMS ------------------------ */
.task-form {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input {
  border: none;
  border-bottom: 1px solid white;
  padding: 8px 5px;
  font-size: inherit;
  background-color: #343434;
  color: white;
}
input:focus {
  outline: none;
}
form button {
  padding: 5px;
  margin: 5px;
  width: 35px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button[type='submit'] {
  background-color: rgb(0, 154, 0);
}
form button[type='reset'] {
  background-color: rgb(191, 0, 0);
}
form button[type='submit']:hover {
  background-color: rgba(0, 154, 0, 0.5);
}
form button[type='reset']:hover {
  background-color: rgba(191, 0, 0, 0.5);
}
.task-form .title,
.task-form .notes,
.task-form .priority,
.task-form .date {
  width: 240px;
  color: white;
}
.task-form .priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-form .buttons {
  width: 500px;
}
/* --------------- FOOTER ------------------------ */
.footer,
.footer a {
  display: flex;
  color: white;
}
.footer {
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: rgb(34, 34, 34);
}
.footer img {
  width: 30px;
}
